.offerings-container {
  width: 100%;
  min-height: 100vh;
  background-color: $white;
  padding: 0 0 2rem 0;
  display: flex;
  flex-direction: column;

  .offerings-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: $header-height-with-banner $side-padding-desktop 3rem $side-padding-desktop;

    .inline-form {
      display: flex;

      input {
        width: min(30vw, 18rem);
        margin: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      button {
        height: 3rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .offerings-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem $side-padding-desktop;

    .offerings-main-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1.5rem;
    }
  }

  .digital-offerings-main-item {
    flex: 1;
    display: flex;
    gap: 1rem;
    // flex-direction: column;
    border: 1px solid $grey300;
    align-items: center;
    border-radius: $border-radius-lg;
    overflow: hidden;
    margin: 1rem 0;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    .offerings-main-item-info {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 1rem;

      h4 {
        color: $grey800;

        h4.grey500 {
          color: $grey500;
        }

        span {
          @extend h4;
          border-bottom: 5px solid $orange;
        }
      }
    }

    .offerings-main-item-image {
      flex: 1;
      height: 100%;
      overflow: hidden;
      display: flex;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .business-offerings-main-container {
    background-color: $grey200;
    .offerings-main-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-gap: 1.75rem;
    }

    .offerings-main-item {
      flex: 1;
      background-color: $white;
      display: flex;
      flex-direction: column;
      border: 1px solid $grey300;
      align-items: center;
      border-radius: $border-radius-lg;
      cursor: pointer;
      overflow: hidden;
      margin: 0;

      &:first-child {
        grid-column-start: 1;
        grid-column-end: 6;
      }

      &:nth-child(2) {
        grid-column-start: 6;
        grid-column-end: 10;
      }

      &:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 4;
      }

      &:nth-child(4) {
        grid-column-start: 4;
        grid-column-end: 7;
      }

      &:nth-child(5) {
        grid-column-start: 7;
        grid-column-end: 10;
      }

      &:nth-child(6) {
        grid-column-start: 1;
        grid-column-end: 5;
      }

      &:nth-child(7) {
        grid-column-start: 5;
        grid-column-end: 10;
      }

      &:nth-child(8) {
        grid-column-start: 1;
        grid-column-end: 4;
      }

      &:nth-child(9) {
        grid-column-start: 4;
        grid-column-end: 7;
      }

      &:nth-child(10) {
        grid-column-start: 7;
        grid-column-end: 10;
      }

      .offerings-main-item-info {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0.5rem 1.5rem 1rem 1.5rem;

        small.orange {
          color: $orangeDark;
        }

        p {
          color: $grey500;
          font-size: 0.975rem;
        }

        h5 {
          color: $grey800;

          display: flex;
          align-items: center;
          white-space: wrap;

          svg {
            width: 1.5rem;
            height: 1.5rem;
            stroke-width: 1.5px;
            margin-bottom: 2.5px;
            margin-right: 0.75rem;
            margin-left: -2px;
          }
        }
      }

      .offerings-main-item-image {
        width: 100%;
        height: 15rem;
        aspect-ratio: unset;
        overflow: hidden;
        flex: unset;
        background-color: $grey100;
        display: flex;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;

        .offerings-main-item-image-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 100;
          background: linear-gradient(to top, rgba($white, 1), rgba($white, 0) 50%);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@media only screen and (max-width: 620px) {
  .offerings-container .offerings-header .inline-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;

    input {
      flex: 1;
    }
  }

  .offerings-header {
    padding: $header-height-with-banner $side-padding-mobile 3rem $side-padding-mobile !important;
  }

  .offerings-main-container {
    padding: 2rem $side-padding-mobile !important;
  }

  .offerings-container .business-offerings-main-container .offerings-main-grid {
    grid-template-columns: repeat(1, 1fr);

    .offerings-main-item {
      grid-column-start: unset !important;
      grid-column-end: unset !important;
    }
  }

  .offerings-container
    .business-offerings-main-container
    .offerings-main-item
    .offerings-main-item-info
    h5 {
    align-items: flex-start;

    .svg-icon {
      width: 1.5rem;
      margin-right: 0.75rem;

      svg {
        margin-right: 0;
      }
    }
  }

  .offerings-container .digital-offerings-main-item {
    flex-direction: column !important;
  }
}
