.portfolio-container {
  width: 100%;
  min-height: 200vh;
  padding-top: $header-height-without-banner;
  position: relative;

  .portfolio-header {
    width: 100%;
    padding: 2rem $side-padding-desktop;
    display: flex;
    flex-direction: column;
  }

  .portfolio-floating-menu {
    width: 100%;
    padding: 1rem $side-padding-desktop;
    position: sticky;
    top: calc($header-height-without-banner - 1px);
    display: flex;
    background-color: $white;
    z-index: 101;
    align-items: center;
    overflow-y: hidden;
    border-top: 1px solid $grey300;
    border-bottom: 1px solid $grey300;

    .portfolio-menu-item {
      padding: 0.4rem 1rem;
      padding-bottom: 0.3rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin: 0 0.4rem;
      font-family: $body;
      border-radius: $border-radius-lg;
      transition: 350ms ease-out;
      border: 1px solid $grey300;

      &:hover {
        background-color: $grey200;
        transition: 250ms ease-out;
      }

      p {
        font-size: 0.9rem;
        color: $grey500;
        margin: 0;
        cursor: pointer;
      }

      &:first-child {
        margin-left: 0;
      }

      &.active {
        color: $grey100;
        background-color: $grey800;
        transition: 350ms ease-out;

        p {
          color: $white;
        }

        svg {
          stroke: $grey100;
        }
      }

      svg {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 0.5rem;
        // padding-bottom: 0.25rem;
        stroke: $grey700;
        transform: none;
        margin-left: 0;
      }
    }
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    .project-container {
      border-bottom: 1px solid $grey300;
      position: relative;
      min-height: 50vh;
      padding: 2rem $side-padding-desktop;

      .project-info {
        small.orange {
          color: $orangeDark;
        }
      }
    }
  }
}
